body {
    background-color: #f0fdf4;
}
table thead {
    background-color: #065f46;
    color: white;
}
#modalItem, #modalEditItem {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.2);
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

iframe {
    height: 80px !important; /* Sobrescribe la altura */
    width: 100%;
  }
