body {
    background-color: #f0fdf4; /* Color de fondo claro */
}

table thead {
    background-color: #065f46; /* Color de fondo de la tabla */
    color: white; /* Color de texto en el encabezado */
}

#modalPedido {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Fijar la posición del modal */
    top: 0; 
    left: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 128, 0, 0.2); /* Fondo semi-transparente */
    align-items: center; /* Centrar contenido verticalmente */
    justify-content: center; /* Centrar contenido horizontalmente */
    z-index: 10; /* Llevar al frente */
}

.modal-content {
    background-color: #ffffff; /* Color de fondo del modal */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    width: 400px; /* Ancho del modal */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del modal */
}
